     XXXXXXX                                   
  XXX        XX                                
 X     XXX     X                               
X     X   X                                    
X    X     X                    XXXXXXXXXXXXXXX
X     X   X               XXXXXX               
 X     XXX           XXXXX                     
  XXX       XXXXXXXXX                          
     XXXXXXXXX                                 