---
- name: OS Setup - All Pis
  hosts: pis
  become: true

  tasks:
    # Configure shell
    - name: Set vi mode in bashrc
      lineinfile:
        path: "/home/{{ ansible_user }}/.bashrc"
        line: "set -o vi"
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"

    # Enable PCIe Gen 3
    - name: Enable PCIe Gen 3.0 in config.txt
      lineinfile:
        path: /boot/firmware/config.txt
        line: "dtparam=pciex1_gen=3"

    # Reboot and wait
    - name: Reboot Pi
      reboot:
        reboot_timeout: 120
