[Unit]
Description=RaspiDash System Monitor
After=network.target

[Service]
Type=simple
User={{ ansible_facts["user_id"] }}
WorkingDirectory={{ raspi_dash_dir }}
ExecStart={{ raspi_dash_dir }}/venv/bin/python {{ raspi_dash_dir }}/server.py --port {{ raspi_dash_port }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
